<header class="header">
    <p class="index-header">urukari</p>
</header>
<div class="order-index">
    <h1 class="order-index-title">ご購入ありがとうございます！</h1>
    
    <% @flag = true %>
    
    <p>
    <%= link_to "商品一覧に戻る", '/products' %>
    </p>
   
</div>

