// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login_center_outer {
    text-align: center;

}

.login_center_inner {
    display: inline-block;
    text-align: left;
}

.submit {
    text-align: center;
}

.new_user {
    text-align: center;
    padding-top: 30px;
}