// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new {
    box-sizing: border-box;
    color: #333;
    width: 900px;
    height: 960px;
    margin: 0 auto;
    padding: 60px 0;
}

.new_title{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.new-table {
    width: 100%;
    margin-bottom: 20px;
}

.new-item,
.new-body {
    padding: 10px;
    border: 1px solid #ccc;
}

.new-item {
    text-align: left;
    width: 40%;
    background-color: #eee;
}

.new-body {
    width: 60%;
}

input[type="text"] {
    width: 450px;
    height: bold;
}

input[type="password"] {
    width: 450px;
    height: bold;
}

input[type="email"] {
    width: 450px;
    height: bold;
}

input[type="submit"] {
    text-align: center;
    width: 70px;
    height: bold;
}

.show-table {
    border-collapse: collapse;
}

.show-table