<p>
    <strong>商品名：</strong>
    <%= @product.title %>
</p>
<p>
    <strong>説明：</strong>
    <%= @product.description %>
</p>
<p>
<%= link_to "購入", product_orders_path %>
</p>
<%= link_to "戻る", '/products' %>